<div>
    <div id="controls">
        <el-button type="primary" icon="plus" @click="openAdd">Add Entry</el-button>
        <el-button type="primary" icon="delete" @click="deleteItems">Delete Selected</el-button>
        <el-button type="primary" icon="plus" @click="addFilter">Add Filter</el-button>

        <el-select
            v-model="filter.field"
            placeholder="Please select a field"
            @change="filterFieldChange">
            <el-option v-for="field in fields" :label="field" :value="field"></el-option>
        </el-select>

        <el-select
            v-model="filter.operator"
            placeholder="Please select a operator">
            <el-option v-for="operator in operators" :label="operator" :value="operator"></el-option>
        </el-select>

        <el-select
            v-model="filter.value"
            filterable
            placeholder="Please select a value">
            <el-option v-for="value in values" :label="value" :value="value"></el-option>
        </el-select>
    </div>
    <div style="margin-bottom:10px">
        <el-tag
            v-for="(filter, filterIndex) in filters"
            :closable="true"
            type="primary"
            :close-transition="false"
            @close="removeFilter(filterIndex)">
            {{ filter.field }} {{ filter.operator }} '{{ filter.value }}'
        </el-tag>
    </div>
    
    <el-table id="tblBooks"
        :data="books"
        :default-sort = "{prop: 'name', order: 'ascending'}"
        highlight-current-row
        @selection-change="onRowSelected"
        height="600">
        <el-table-column
            type="selection">
        </el-table-column>
        <el-table-column
            width="50">
            <template scope="scope">
                <el-button size="small" icon="edit" @click="openEdit(scope.row.id)"></el-button>
            </template>
        </el-table-column>
        <el-table-column
            prop="name"
            label="Title">
        </el-table-column>
        <el-table-column
            prop="type"
            label="Type">
        </el-table-column>
        <el-table-column
            prop="authors"
            label="Author">
        </el-table-column>
        <el-table-column
            prop="genres"
            label="Genre">
        </el-table-column>
        <el-table-column
            prop="series"
            label="Series">
        </el-table-column>
        <el-table-column
            prop="owners"
            label="Owner"
            width="100">
        </el-table-column>
        <el-table-column
            prop="read"
            label="Read"
            width="100">
        </el-table-column>  
    </el-table>
    
    <el-dialog id="frmBook" title="Edit Book" :visible.sync="formOpen">
        <el-form :model="editing">
            <el-form-item label="Title">
                <el-input class="name" v-model="editing.name"></el-input>
            </el-form-item>
            <el-form-item label="Type">
                <el-select
                    allow-create
                    filterable
                    v-model="editing.type"
                    placeholder="Please select a type">
                    <el-option v-for="type in types" :label="type" :value="type"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Authors">
                <el-select
                    allow-create
                    filterable
                    multiple
                    v-model="editing.authors"
                    placeholder="Please select a author">
                    <el-option v-for="author in authors" :label="author" :value="author"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Genres">
                <el-select
                    allow-create
                    filterable
                    multiple
                    v-model="editing.genres"
                    placeholder="Please select a genre">
                    <el-option v-for="genre in genres" :label="genre" :value="genre"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Series">
                <ul id="selSeries">                  
                    <li v-for="current in editing.series">
                        <el-select
                            allow-create
                            clearable
                            filterable
                            v-model="current.name"
                            placeholder="Please select a series"
                            @change="seriesChange">
                            <el-option v-for="serie in series" :label="serie" :value="serie"></el-option>
                        </el-select>
                        <el-input class="series-number" v-model="current.number"></el-input>
                    </li>
                    <li>
                        <el-select
                            allow-create
                            clearable
                            filterable
                            v-model="newSeries.name"
                            placeholder="Please select a series"
                            @change="seriesChange">
                            <el-option v-for="serie in series" :label="serie" :value="serie"></el-option>
                        </el-select>
                        <el-input class="series-number" v-model="newSeries.number"></el-input>
                    </li>
                </ul>
            </el-form-item>
            <el-form-item label="Owners">
                <el-select
                    allow-create
                    filterable
                    multiple
                    v-model="editing.owners"
                    placeholder="Please select a person">
                    <el-option v-for="person in people" :label="person" :value="person"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Read">
                <el-select
                    allow-create
                    filterable
                    multiple
                    v-model="editing.read"
                    placeholder="Please select a person">
                    <el-option v-for="person in people" :label="person" :value="person"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveItem(true)">Save and Close</el-button>
            <el-button v-if="editing.id === -1" type="primary" @click="saveItem(false)">Save</el-button>
            <el-button @click="formOpen = false">Cancel</el-button>
        </span>
    </el-dialog>
</div>
