<div>
    <div id="controls">
        <template v-if="$root.user.id > 0">
            <el-button type="primary" icon="plus" @click="openAdd">Add Entry</el-button>
            <el-button type="primary" icon="delete" @click="deleteItems">Delete Selected</el-button>
        </template>
            
        <el-button type="primary" icon="plus" @click="addFilter">Add Filter</el-button>

        <el-select
            v-model="filter.field"
            placeholder="Please select a field"
            @change="filterFieldChange">
            <el-option v-for="field in fields" :label="field" :value="field"></el-option>
        </el-select>

        <el-select
            v-model="filter.operator"
            placeholder="Please select a operator">
            <el-option v-for="operator in operators" :label="operator" :value="operator"></el-option>
        </el-select>

        <el-select
            v-model="filter.value"
            filterable
            placeholder="Please select a value">
            <el-option v-for="(label, value) in values" :label="label" :value="value"></el-option>
        </el-select>
    </div>
    <div style="margin-bottom:10px">
        <el-tag
            v-for="(filter, filterIndex) in filters"
            :closable="true"
            type="primary"
            :close-transition="false"
            @close="removeFilter(filterIndex)">
            <template v-if="['owner','read'].indexOf(filter.field) != -1">
                {{ filter.field }} {{ filter.operator }} '{{ $root.users[filter.value].name }}'
            </template>
            <template v-else>
                {{ filter.field }} {{ filter.operator }} '{{ filter.value }}'
            </template>
        </el-tag>
    </div>
    
    <el-table class="cic-table"
        :data="books"
        highlight-current-row
        @selection-change="onRowSelected"
        height="600">
        <template v-if="$root.user.id > 0">
            <el-table-column
                type="selection">
            </el-table-column>
            <el-table-column
                width="50">
                <template scope="scope">
                    <el-button size="small" icon="menu" @click="openMenu(scope.row)"></el-button>
                </template>
            </el-table-column>
        </template>
        <el-table-column
            prop="name"
            label="Title">
        </el-table-column>
        <el-table-column
            prop="type"
            label="Type">
        </el-table-column>
        <el-table-column label="Author">
            <template scope="scope">
                <span class="author-link" v-for="a in scope.row.authors" @click="selectAuthor(a.id)">
                    {{ a.forename }}
                    <template v-if="a.surname !== null">
                        {{ a.surname }}
                    </template>
                </span>
            </template>
        </el-table-column>
        <el-table-column
            prop="genres"
            label="Genre">
        </el-table-column>
        <el-table-column label="Series">
            <template scope="scope">
                <span class="series-link" v-for="s in scope.row.series" @click="selectSeries(s.id)">{{ s.name }}</span>
            </template>
        </el-table-column>
        <el-table-column
            prop="ownerNames"
            label="Owner"
            width="100">
        </el-table-column>
        <el-table-column
            prop="readNames"
            label="Read"
            width="100">
        </el-table-column>  
    </el-table>
    
    <book-menu :book="menu" :mode="menuMode" @change="bookMenuChange"></book-menu>
</div>
