<div>
    <el-dialog id="bookMenu" :visible.sync="menuOpen">
        <el-button @click="openEdit">Edit</el-button>
        <template v-if="$root.user.id > 0 && book.id > 0 && book.owners.indexOf($root.user.id) == -1">
            <template v-if="book.owners.length > 0">
                <br><el-button @click="borrowRequest">Borrow Request</el-button>
            </template>
            <br><el-button @click="wishlist">Add to Wishlist</el-button>
            <br><el-button @click="ownBook">I own this</el-button>
        </template>
        <template v-if="$root.user.id > 0 && book.id > 0 && book.read.indexOf($root.user.id) == -1">
            <br><el-button @click="readBook">I've read this</el-button>
        </template>
    </el-dialog>
</div>
