<div>
    <el-dialog id="frmBook" title="Edit Book" :visible="formOpen" @open="loadBook" :before-close="close">
        <el-form>
            <el-form-item label="Title">
                <el-input class="name" v-model="book.name"></el-input>
            </el-form-item>
            <el-form-item label="Type">
                <el-select
                    allow-create
                    filterable
                    v-model="book.type"
                    placeholder="Please select a type">
                    <el-option v-for="type in types" :label="type" :value="type"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Authors">
                <el-select
                    allow-create
                    filterable
                    multiple
                    v-model="book.authors"
                    placeholder="Please select a author">
                    <el-option v-for="author in authors" :label="author" :value="author"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Genres">
                <el-select
                    allow-create
                    filterable
                    multiple
                    v-model="book.genres"
                    placeholder="Please select a genre">
                    <el-option v-for="genre in genres" :label="genre" :value="genre"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Series">
                <ul id="selSeries">                  
                    <li v-for="current in book.series">
                        <el-select
                            allow-create
                            clearable
                            filterable
                            v-model="current.id"
                            placeholder="Please select a series"
                            @change="seriesChange">
                            <el-option v-for="sitem in series" :label="sitem.name" :value="sitem.id"></el-option>
                        </el-select>
                        <el-input class="series-number" v-model="current.number"></el-input>
                    </li>
                    <li>
                        <el-select
                            allow-create
                            clearable
                            filterable
                            v-model="newSeries.id"
                            placeholder="Please select a series"
                            @change="seriesChange">
                            <el-option v-for="sitem in series" :label="sitem.name" :value="sitem.id"></el-option>
                        </el-select>
                        <el-input class="series-number" v-model="newSeries.number"></el-input>
                    </li>
                </ul>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveItem(true)">Save and Close</el-button>
            <el-button v-if="book.id === -1" type="primary" @click="saveItem(false)">Save</el-button>
            <el-button @click="close">Cancel</el-button>
        </span>
    </el-dialog>
</div>
