<div>
    <div class="author-head">
        <h1 class="author-title">{{ author.forename }}<template v-if="author.surname !== null"> {{ author.surname }}</template></h1>
        <el-button :type="tracking?'primary':'default'" icon="share" @click="track"></el-button>
        <el-progress
            class="author-progress"
            :text-inside="true"
            :stroke-width="18"
            :percentage="percentage"
            status="success">
        </el-progress>
    </div>
    <template v-if="total > 0">
        <div v-if="showSeries">
            <div class="series-tracked">
                <div v-for="id in series" v-on:click="select(id)" :class="{ 'selected':(selected === id) }">
                    <edit-series :id="id" :authorid="author.id"></edit-series>
                </div>
            </div>
            <div class="series-selected" v-if="selected > -1">
                <edit-series :id="selected" :authorid="author.id"></edit-series>
            </div>
        </div>
    </template>
</div>
