<div>
    <div class="series-head">
        <h1 class="series-title">{{ series.name }}</h1>
        <template v-if="series.id > 0">
            <el-button :type="tracking?'primary':'default'" icon="share" @click="track"></el-button>
        </template>
        <el-progress
            class="series-progress"
            :text-inside="true"
            :stroke-width="18"
            :percentage="percentage"
            status="success">
        </el-progress>
    </div>
    <template v-if="Object.keys(main).length > 0">
        <template v-if="other.length > 0">
            <h2>Main Sequence</h2>
        </template>
            
        <table class="cic-table el-table">
            <thead>
                <tr>
                    <th class="is-leaf" style="width:30px"><div class="cell">#</div></th>
                    <th class="is-leaf"></th>
                    <th class="is-leaf"><div class="cell">Title</div></th>
                    <th class="is-leaf"><div class="cell">Type</div></th>
                    <th class="is-leaf"><div class="cell">Authors</div></th>
                    <th class="is-leaf"><div class="cell">Genres</div></th>            
                </tr>
            </thead>
            <tbody>
                <tr v-for="(book, number) in main" :class="bookClass(book.id)">
                    <td><div class="cell">{{ number }}</div></td>
                    <td>
                        <div class="cell"><el-button size="small" icon="menu" @click="openMenu(book)"></el-button></div>
                    </td>
                    <td><div class="cell">{{ book.name }}</div></td>
                    <td><div class="cell">{{ book.type }}</div></td>
                    <td>
                        <div class="cell">
                            <span class="author-link" v-for="a in book.authors" @click="selectAuthor(a.id)">
                                {{ a.forename }}
                                <template v-if="a.surname !== null">
                                    {{ a.surname }}
                                </template>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <template v-if="book.genres.length > 0">
                                {{ book.genres.join(", ") }}
                            </template>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
    
    <template v-if="other.length > 0">
        <template v-if="Object.keys(main).length > 0">
            <h2>Other</h2>
        </template>
            
        <table class="cic-table el-table">
            <thead>
                <tr>
                    <th class="is-leaf"></th>
                    <th class="is-leaf"><div class="cell">Title</div></th>
                    <th class="is-leaf"><div class="cell">Type</div></th>
                    <th class="is-leaf"><div class="cell">Authors</div></th>
                    <th class="is-leaf"><div class="cell">Genres</div></th>            
                </tr>
            </thead>
            <tbody>
                <tr v-for="book in other" :class="bookClass(book.id)">
                    <td>
                        <div class="cell"><el-button size="small" icon="menu" @click="openMenu(book)"></el-button></div>
                    </td>
                    <td><div class="cell">{{ book.name }}</div></td>
                    <td><div class="cell">{{ book.type }}</div></td>
                    <td>
                        <div class="cell">
                            <span class="author-link" v-for="a in book.authors" @click="selectAuthor(a.id)">
                                {{ a.forename }}
                                <template v-if="a.surname !== null">
                                    {{ a.surname }}
                                </template>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="cell">
                            <template v-if="book.genres.length > 0">
                                {{ book.genres.join(",") }}
                            </template>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
    
    <book-menu :book="menu" :mode="menuMode" @change="bookMenuChange"></book-menu>
</div>
