<div id="userSection">
    <template v-if="$root.user.id == 0">
        <el-button @click="onRegisterClicked">Register</el-button>
        <el-button @click="onLoginClicked">Login</el-button>
    </template>
    <span v-if="$root.user.id > 0">
        <span id="userName">{{ $root.user.name }}</span>
        <el-button  @click="onLogoutClicked">Logout</el-button>
    </span>
    <div id="loginForm" v-if="forceLogin">
        <el-form>
            <el-form-item label="Username">
                <el-input v-model="selectedUser.username"/>
            </el-form-item>
            <el-form-item label="Password">
                <el-input type="password" v-model="selectedUser.password"/>
            </el-form-item>
            <el-button @click="login">Login</el-button>
            <el-button @click="cancelLogin">Cancel</el-button>
        </el-form>
    </div>
    <div id="registerForm" v-if="registerOpen">
        <el-form>
            <el-form-item label="Display Name">
                <el-input v-model="selectedUser.name"/>
            </el-form-item>
            <el-form-item label="Username">
                <el-input v-model="selectedUser.username"/>
            </el-form-item>
            <el-form-item label="Password">
                <el-input type="password" v-model="selectedUser.password"/>
            </el-form-item>
            <el-button @click="register">Register</el-button>
            <el-button @click="cancelRegister">Cancel</el-button>
        </el-form>
    </div>
</div>
