<div id="userSection">
    <el-button v-if="$root.user.id == 0" @click="onLoginClicked">Login</el-button>
    <span v-if="$root.user.id > 0">
        <span id="userName">{{ $root.user.name }}</span>
        <el-button  @click="onLogoutClicked">Logout</el-button>
    </span>
    <div id="loginForm" v-if="forceLogin">
        <el-form>
            <el-form-item label="Username">
                <el-input v-model="username"/>
            </el-form-item>
            <el-form-item label="Password">
                <el-input type="password" v-model="password"/>
            </el-form-item>
            <el-button @click="login">Login</el-button>
            <el-button @click="cancelLogin">Cancel</el-button>
        </el-form>
    </div>
</div>
