<div id="menuSection">
    <el-button type="primary" icon="menu" @click="toggleMenu"></el-button>
    <ul class="el-menu" v-show="showMenu">
        <template v-if="$root.user.id > 0">
            <li class="el-menu-item" :class="{ 'is-active': $root.page == 'myaccount' }" index="5" @click="onOptionSelected('myaccount')">Me</li>
        </template>
        <li class="el-menu-item" :class="{ 'is-active': $root.page == 'books' }" index="1" @click="onOptionSelected('books')">Books</li>
        <template v-if="$root.user.id > 0">
            <li class="el-menu-item" :class="{ 'is-active': $root.page == 'series' }" index="1" @click="onOptionSelected('authors')">Authors</li>
            <li class="el-menu-item" :class="{ 'is-active': $root.page == 'series' }" index="1" @click="onOptionSelected('series')">Series</li>
            <li class="el-menu-item" :class="{ 'is-active': $root.page == 'lending' }" index="2" @click="onOptionSelected('lending')">
                <el-badge v-if="$root.requests > 0" :value="$root.requests">Lending</el-badge>
                <span v-else>Lending</span>
            </li>
            <template v-if="$root.user.role === 'admin'">
                <li class="el-menu-item" :class="{ 'is-active': $root.page == 'users' }" index="3" @click="onOptionSelected('users')">Users</li>
            </template>
            <li class="el-menu-item" :class="{ 'is-active': $root.page == 'wishlist' }" index="4" @click="onOptionSelected('wishlist')">Wishlist</li>
        </template>
    </ul>
</div>
