<div id="wishlist">
    <table class="cic-table el-table">
        <thead>
            <tr>
                <th class="is-leaf"><div class="cell">Title</div></th>
                <th class="is-leaf"><div class="cell">Authors</div></th>
                <th class="is-leaf"><div class="cell">Notes</div></th>
                <th v-if="$root.user.id > 0 && $root.user.id != $root.params.userid" class="is-leaf" style="width:110px">
                    <div class="cell">Gift From</div>
                </th>
                <th v-if="$root.user.id === $root.params.userid" class="is-leaf"><div class="cell">Got</div></th>
                <th v-if="$root.user.id !== $root.params.userid" class="is-leaf"><div class="cell">Gift</div></th>
                <th v-if="$root.user.id === $root.params.userid" class="is-leaf"><div class="cell">Remove</div></th>             
            </tr>
        </thead>
        <tbody>
            <tr v-for="book in $root.params.books">
                <td><div class="cell">{{ book.name }}</div></td>
                <td><div class="cell">{{ book.authors }}</div></td>
                <td>
                    <div class="cell">
                        <el-button size="small" icon="edit" @click="openNotes(book)"></el-button>
                        <span class="listNotes">
                            <template v-if="book.notes !== '' && book.notes !== null">
                                <template v-for="part in book.notes.split(' ')">
                                    <a v-if="part.substring(0, 4) == 'http'" :href="part" target="_blank">{{ part }}</a>
                                    <span v-else>{{ part }}</span>
                                </template>
                            </template>
                        </span>
                    </div>
                </td>
                <td v-if="$root.user.id > 0 && $root.user.id != $root.params.userid">
                    <div class="cell">{{ book.gifted }}</div>
                </td>
                <td v-if="$root.user.id === $root.params.userid">
                    <div class="cell"><el-button size="small" icon="check" @click="own(book.id)"></el-button></div>
                </td>
                <td v-if="$root.user.id !== $root.params.userid">
                    <div v-if="$root.user.id === 0 || book.gifted === ''" class="cell">
                        <el-button size="small" icon="check" @click="gift(book.id)"></el-button>
                    </div>
                </td>
                <td v-if="$root.user.id === $root.params.userid">
                    <div class="cell"><el-button size="small" icon="close" @click="remove(book.id)"></el-button></div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <el-dialog id="notes" :visible.sync="notesOpen">
        <el-input type="textarea" :rows="2" v-model="notes.text"></el-input> 
        <el-button @click="saveNotes">Save</el-button>
        <el-button @click="closeNotes">Close</el-button>
    </el-dialog>
</div>
