.idea/dataSources/
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/Library.iml
.idea/modules.xml
.idea/workspace.xml
/.env.live
/.env.local
/.phpunit.result.cache
/.web-server-pid
/app-js/node_modules/
/build/
/phpunit.xml
/public/bundles/
/public/js/
/public/web.config
public/web.config.live
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!var/SymfonyRequirements.php
/vendor/
