/*********************************************************
			Colors and background images
*********************************************************/

/* Background color & image */

body {
	background: #EAEFF2;
	font: 14px/1.6em "Segoe UI", Verdana, sans-serif;
	color: #666;
}

/* Link Colors */
a { color: #3981AC; text-decoration:none; }
a:hover { text-decoration:underline; color: #3981AC; cursor:pointer; }
a:active { color: #3981AC; }

h1, h2, h3, h4, h5 { color: #3981AC; }
h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration: underline; }

hr { background-color: #ccc; color: #ccc; }

textarea {
	font: 100%/1.6em Verdana, sans-serif;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa #ccc #ccc #aaa;
}

/* Remove IE 10 'X' in input boxes */
::-ms-clear { width : 0; height: 0; }

/*********************************************************
				Basic element styles
*********************************************************/

/* Common elements */

html,
body {
	margin: 0px;
	padding: 0px;
	line-height: 20px;
	min-height: 100%;
}

div, ul, ol, li, form { margin: 0; padding: 0; list-style: none; }

table { border-collapse: collapse; }
td { vertical-align: top; }

hr { border: 0px; height: 1px; }
p { margin: 0px; padding: 0px; margin-top: 10px; }

img { border: 0; vertical-align: middle; }

.MenuContent { width:180px; overflow-y:auto; display:inline-block; border: 1px solid #cccccc; display:none; }
.PageContent { display:inline-block; vertical-align:top; margin-left:10px; }

.has-menu .MenuContent { display:block; }

.el-form-item { margin-bottom: 10px !important; }

#tblBooks table { width:100%; }
#controls { margin:10px 0px; }
#frmBook .name { width: 217px; }
#frmBook .series-number { width: 50px; }
#frmBook .el-form-item__label { width: 70px; text-align: left; }
#frmBook .el-form-item__content { margin-left: 70px; }
