<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>      
        <link rel="stylesheet" href="{{ asset("css/base.css") }}" />
    </head>
    <body>
        <div id="app">
            <div id="content">
                <div class="MenuContent">
                    <cic-menu v-if="user.role === 'admin'" v-on:select="menuSelectOption"></cic-menu>
                    <cic-login v-model="user" :users="users"></cic-login>
                </div>
                <div class="PageContent">
                    <div v-if="menuSelectedOption === 'books'">
                        <cic-book-list v-on:user="setUser" v-on:users="setUsers"></cic-book-list>
                    </div>
                    <div v-if="menuSelectedOption === 'users'">
                        <cic-user-list></cic-user-list>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset("js/main.js") }}"></script>
    </body>
</html>
